.a {
    width: 28%;
    margin-left: 65%;
    margin-top: 5%;
    position: absolute;
    z-index: -100;
}
.typewriter {
    position: absolute;
    font-family: nunito, sans-serif;
    font-size: 85px;
    top: 20%;
    left: 11%;
    z-index: -10;
}